---
layout: page
---

<div id="post-list">
  <div class="mobile-title">
  <h1>Interviews with Content Creators</h1>
  <p>Dozens of youtube creators share the stories behind how they've started and grown successful channels.</p>
  </div>
  <div class="privy-embed-form" data-campaign="1251917"></div>
  {% for post in paginator.posts %}
  <div class="post-preview">
    <h1>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="post-content" style="clear:both">
      <img style="max-width:100px;float:left" src="{{post.image}}" />
      <p style="padding-left:20px;">
      {{ post.headline | strip_html | truncate: 200 | replace: '&', '&amp;' }}
      </p>
    </div>

    <div class="post-meta text-muted pt-1">
      <!-- posted date -->
      <i class="far fa-clock fa-fw"></i>
      <span class="timeago" data-toggle="tooltip" data-placement="bottom"
        title="{{ post.date | date: site.data.date_format.tooltip }}">
      {{ post.date | date: site.data.date_format.post }}
      <i class="unloaded">{{ post.date | date_to_xmlschema }}</i>
      </span>
      <i class="far fa-chart-bar"></i>
      <span class="">
      {{ post.subscribers }} subscribers
      </span>

    </div>
  </div> <!-- .post-review -->
  {% endfor %}
</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
